{% extends "base.html" %}

{% block titulo %}Alteração de Lista{% endblock %}

{% block conteudo %}
    <main class="container-fluid">
        <h2>Excluisão da Lista :: {{lista.estabelecimento}}</h2>
        <form method="post" action="/lista/post_excluir_lista">
            <div>
                <input type="hidden" name="id_lista" id="id_lista" value="{{lista.id_lista}}">
                <label for="estabelecimento">Estabelecimento:</label><br>
                <input class="form-control" type="text" name="estabelecimento" id="estabelecimento" value="{{lista.estabelecimento}}">
            </div>
            <div>
                <label for="id_user">ID Usuario:</label><br>
                <input class="form-control" type="text" name="id_user" id="id_user" placeholder="Usuario nao pode alterar esse campo" value="{{lista.id_user}}">
            </div>
            <div class="col-md-12">
                <label for="status_lista" class="form-label">Status</label>
                <select class="form-select" id="status_lista" name="status_lista" required>
                  {% if lista.status_lista == 1 %}
                  <option value="{{lista.status_lista}}" >Aberto</option>
                  {% else %}
                  <option value="{{lista.status_lista}}" >Fechado</option>
                  {% endif %}
                </select>
            <div class="mt-3">
                <p><b>Só é permitido deletar listas em que o status esteja Aberto!</b></p>
                <button class="btn btn-primary" type="submit">Excluir</button>
                <a href="/lista" class="btn btn-danger">Voltar</a>
            </div>
        </form>
    </main>
{% endblock %}