{% extends "base.html" %}

{% block titulo %}Cadastro de Produto{% endblock %}

{% block conteudo %}
    <main class="container-fluid">
        <div class="row d-flex justify-content-between mt-3 ">
            <div class="col-6 col-xl-9 col-md-8">
                <h2>Lista</h2>
            </div>
            <div class="col-6 col-xl-3 col-md-4 justify-content-between">
                <a href="/lista/cadastrar_lista" class="btn btn-primary"> Cadastrar Lista</a>
                <a href="/" class="btn btn-danger"> <i class="bi bi-arrow-left-square"></i></a>
            </div>
        </div>
        <table class="table">
            <hr>
            {% for l in listas %}
            <tr>
                <td>{{ l.id_lista }}</td>
                <td>{{ l.estabelecimento }}</td>
                {% if l.status_lista == 1 %}
                    <td> Aberto </td>
                {% else %}
                    <td> Fechado </td>
                {% endif %}
                <td><a href="/lista/abrir/{{ l.id_lista }}"class="btn btn-primary p-0 p-sm-1"><i class="bi bi-basket"></i></a></td>
                <td><a href="/lista/alterar_lista/{{l.id_lista}}"class="btn btn-secondary p-0 p-sm-1"><i class="bi bi-pencil"></i></a></td>
                <td><a href="/lista/excluir/{{ l.id_lista }}"class="btn btn-danger p-0 p-sm-1"><i class="bi bi-trash"></i></a>
            </tr>
            {% endfor %}
        </table>
    </main>
{% endblock %}