{% extends "base.html" %}

{% block titulo %}Cadastro de Produto{% endblock %}

{% block conteudo %}
    <main class="container-fluid">
        <div class="d-flex justify-content-between mt-3">
            <h2>Lista</h2>
            <a href="/lista/cadastrar_lista" class="btn btn-primary"> Cadastrar Lista</a>
        </div>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Estabelecimento</th>
                <th>Status</th>
                <th>*</th>
                <th>*</th>
            </tr>
            {% for l in listas %}
            <tr>
                <td>{{ l.id_lista }}</td>
                <td>{{ l.estabelecimento }}</td>
                {% if l.status_lista == 0 %}
                    <td> Aberto </td>
                {% else %}
                    <td> Fechado </td>
                {% endif %}
                <td><a href="/lista/abrir/{{ l.id_lista }}"class="btn btn-primary">Abrir Lista</a></td>
                <td>
                    <a href="/itens_lista/categorias/{{ l.id_lista }}"class="btn btn-primary">ADD Itens</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="row">
            <div class="col-12 mb-5 d-flex justify-content-end">
                <a href="/" class="btn btn-danger"> Voltar</a>
            </div>
        </div>
    </main>
{% endblock %}