{% extends "base.html" %}

{% block titulo %}Usuario{% endblock %}

{% block conteudo %}

<main class="container-fluid m-auto">

    <div class="row  mx-auto mt-3">
        <h2>Login</h2>
        <hr>
        <form class="col-12 col-md-6 col-xl-5">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Lembrar-me</label>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Entrar</button>
                <a href="/" class="btn btn-danger"><i class="bi bi-arrow-left-square"></i></a>
            </div>
            <hr>
            <p>Ainda não é cadastrado? Clique no botão abaixo para se cadastrar.</p>
            <a href="/usuario/cadastrar" class="btn btn-outline-success">Quero Me Cadastrar</a>
        </form>
    </div>
</main>
{% endblock %}