{% extends "base.html" %}

{% block titulo %}Cadastro de Produto{% endblock %}

{% block conteudo %}
<main class="container-fluid">
    <h2 class="mt-3">Cadastro de Produto</h2>
    <form class="row g-3 needs-validation" method="post" action="/produto/post_cadastrar" novalidate>
        <div class="col-md-4">
            <label for="nome_produto" class="form-label">Nome:</label>
            <input type="text" name="nome_produto" class="form-control" id="nome_produto" placeholder="Arroz - Tio Arthur" required>
            <div class="valid-feedback">
              OK
            </div>
        </div>
        <div class="col-md-8">
            <label for="valor_produto" class="form-label">Preço:</label>
            <input type="text" name="valor_produto" class="form-control" placeholder="35.99" id="valor_produto" required>
            <div class="valid-feedback">
              ok
            </div>
        </div>
        <div class="col-md-12">
          <label for="id_categoria" class="form-label">Categoria</label>
          <select class="form-select" id="id_categoria" name="id_categoria" required>
            <option>Categorias</option>
            {% for c in categoria %}
            <option value="{{ c.id_categoria }}">{{ c.nome_categoria }}</option>
            {% endfor %}
          </select>
          <div class="invalid-feedback">
            ok
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Cadastrar</button>
        </div>
    </form>
</main>
{% endblock %}