{% extends "base.html" %}

{% block titulo %}Cadastro de Produto{% endblock %}

{% block conteudo %}
    <main class="container-fluid">
        <div class="d-flex justify-content-between mt-3">
            <h2>Produtos</h2>
            <a href="/produto/cadastrar_produto" class="btn btn-primary"> Cadastrar Produto</a>
        </div>
        <hr>
        <table class="table">
            <tr>
                <td>#</td>
                <td style="text-align: center;">Nome Produto</td>
                <td style="text-align: center;">Categoria</td>
                <td style="text-align: center;">Valor Produto</td>
                <td style="text-align: center;">*</td>
            </tr>
            <!-- faz uma iteração pelos produtos enviados pela rota -->
            {% for p in produtos %}
            <tr>
                <td>{{ p.id_produto }}</td>
                <td style="text-align: center;">{{ p.nome_produto }}</td>
                <td style="text-align: center;">{{ p.id_categoria }}</td>
                <td style="text-align: center;">R$:{{ p.valor_produto }}</td>
                <td style="text-align: center;" ><a href="/produto/alterar_produto/{{ p.id_produto }}" class="btn btn-primary">alterar</a></td>
            </tr>
            {% endfor %}
        </table>
        <div class="row">
            <div class="col-12 mb-5 d-flex justify-content-end">
                <a href="/" class="btn btn-danger"> Voltar</a>
            </div>
        </div>
    </main>
{% endblock %}