<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Produtos</title>
</head>
<body>
    {% include "header.html" %}
    <main>
        <h2>Produtos</h2>
        <table>
            <tr>
                <td>#</td>
                <td style="text-align: center;">Nome Produto</td>
                <td style="text-align: center;">Categoria</td>
                <td style="text-align: center;">Valor Produto</td>
                <td style="text-align: center;">Valor Promocao</td>
                <td style="text-align: center;">*</td>
            </tr>
            <tr>
                <td>{{ produto.id_produto }}</td>
                <td style="text-align: center;">{{ produto.nome_produto }}</td>
                <td style="text-align: center;">{{ produto.id_categoria }}</td>
                <td style="text-align: center;">R$:{{ produto.valor_produto }}</td>
                <td style="text-align: center;" ><a href="/alterar_produto/{{ produto.id_produto }}"><i class="bi bi-pencil"></i></a></td>
            </tr>
        </table>

    </main>
    {% include "footer.html" %}
</body>
</html>