{% extends "base.html" %}

{% block titulo %}Produtos - Lista{% endblock %}

{% block conteudo %}
<div class="row mt-3 container-fluid d-flex justify-content-between">
    <div class="col-9 col-md-11">
        <h2>Promoções</h2>
        <p>Todas as promoções inseridas aqui vem das listas de outros usuarios !</p>
    </div>
    <div class="col-2 col-md-1">
        <a href="/" class="btn btn-danger"><i class="bi bi-arrow-left-square"></i></a>
    </div>
</div>
<hr>
<div>
    <table class="table table-sm">
        <tr>
            <th>#</th>
            <th>Produtos</th>
            <th>Valor</th>
            <th>Mercado</th>
            {%- if usuario -%}
            <th>*</th>
            {%- endif -%}
        </tr>
        {% for p in promocao%}
        <tr>
            <td>{{p.id_produto}}</td>
            <td>{{p.nome_produto}}</td>
            <td>{{p.valor_promocao}}</td>
            <td>{{p.estabelecimento}}</td>
            {%- if usuario -%}
            <td><a href="/denuncia/promocao/{{p.id_lista}}/{{p.id_produto}}/{{p.nome_produto}}/{{p.estabelecimento}}" class="btn btn-danger p-1 p-sm-2"><i class="bi bi-bookmark-x"></i></a></td>
            {%- endif -%}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}