<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Contato</title>
</head>
<body>
    {% include "header.html" %}
    <main>
        <h2>Contato</h2>
        <form method="post">
            <p>
                <label for="nome">Nome:</label><br>
                <input type="text" name="nome" id="nome">
            </p>
            <p>
                <label for="mensagem">Mensagem:</label><br>
                <textarea name="mensagem" id="mensagem" rows="4" cols="80"></textarea>
            </p>
            <p>
                <button type="submit">Enviar</button>
            </p>
        </form>
    </main>
    {% include "footer.html" %}
</body>
</html>