<header>  
    <nav class="navbar navbar-expand-lg" style="background-color: #accac5;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <h3>ListFy</h3>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cadastros
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/produto">Produtos</a></li>
                  <li><a class="dropdown-item" href="/lista">Listas</a></li>
                  <li><a class="dropdown-item" href="/categorias">Categorias</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">Promoções</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Configurações
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/usuario/entrar">Usuario</a></li>
                  <li><a class="dropdown-item" href="#">Sobre</a></li>
                </ul>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Lista/Produto" aria-label="Search">
              <button class="btn btn-outline-primary" type="submit">Pesquisar</button>
            </form>
          </div>
        </div>
      </nav>
</header>