{% extends "base.html" %}

{% block titulo %}Produtos - Lista{% endblock %}

{% block conteudo %}
<main class="container-fluid">
    <div class="d-flex justify-content-between mt-3">
        <h2>Lista - {{lista.estabelecimento}}</h2>
        <a href="/produto/cadastrar_produto" class="btn btn-primary"> Cadastrar Produto</a>
    </div>
    <hr>
    <form action="post" method="/itens_lista/add_itens_lista">
        <input type="hidden" name="lista.id_lista" value="lista.id_lista">
        <table class="table">
            <tr>
                <td>#</td>
                <td style="text-align: center;"><b>Nome Produto</b></td>
                <td style="text-align: center;"><b>Categoria</b></td>
                <td style="text-align: center;"><b>Valor Produto</b></td>
                <td style="text-align: center;"><b>*</b></td>
            </tr>

            {% for p in produtos %}
            <tr>
                <td>{{ p.id_produto }}
                    <input type="hidden" name="p.id_produto" value="p.id_produto">
                </td>
                <td style="text-align: center;">{{ p.nome_produto }}
                    <input type="hidden" name="p.nome_produto" value="p.nome_produto">
                </td>
                <td style="text-align: center;">{{ p.id_categoria }}
                    <input type="hidden" name="p.id_categoria" value="p.id_categoria">
                </td>
                <td style="text-align: center;">R$:{{ p.valor_produto }}
                    <input type="hidden" name="p.valor_produto" value="p.valor_produto">
                </td>
                <td style="text-align: center;">
                    <div>
                        <input type="checkbox" class="btn-check" id="{{ p.id_produto }}" autocomplete="off"
                            name="produto_selecionado" {% if selecionado %} value="1" checked {% else %}value="0" {% endif %}>
                        <label class="btn btn-outline-primary" for="{{ p.id_produto }}">Check</label>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-primary mx-3" type="submit">ADD a lista</button>
                <a href="/itens_lista/categorias" class="btn btn-danger"> Voltar</a>
            </div>
        </div>
    </form>
</main>
{% endblock %}